@{
    ViewData["Title"] = localizer["CarOrdersReportView"];
    ViewData["Caption"] = localizer["View Report for CarOrders here"];
}
@using AutoServiceManager.Web.Areas.Reception.Models
@model CarOrdersReportViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">


        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function () {
        $("#carOrdersReportTable").DataTable();
        loadData();
        $('#reload').on('click', function () {
            loadData();
        });
    });
    function loadData() {
        $('#viewAll').load('/reception/carOrdersReportView/LoadAll');
    }
</script>
}