@{
    ViewData["Title"] = localizer["Cars"];
    ViewData["Caption"] = localizer["Manage Cars here"];
}
@using AutoServiceManager.Web.Areas.Catalog.Models
@model CarViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @*@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Cars.Create)).Result.Succeeded)*@
        @if (true)
        {
            <a onclick="jQueryModalGet('/catalog/car/OnGetCreateOrEdit','Create Car')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#carTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/catalog/car/LoadAll');
        }
    </script>
}